# Environment & Secret Configuration
.env
.env.backup
.env.production
.env.*.local

# Dependencies & Build Output
/node_modules
/vendor
/public/build
/public/hot
/public/storage

# Storage & Framework Cache
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/pail
*.log

# IDE & OS Specific Files
.DS_Store
Thumbs.db
/.vscode
/.idea
/.fleet
/.nova
/.zed
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/auth.json
Homestead.json
Homestead.yaml

# Compressed Archives & Reference Mockup Assets
*.zip
*.tar.gz
*.rar
*.sql
/terapis slide 1
/terapis slide 2
